[Unit]
Description=csye6225 Web Application Service
After=network.target

[Service]
User=csye6225
Group=csye6225
WorkingDirectory=/opt/webapp
ExecStart=/usr/bin/node /opt/webapp/index.js
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=webapp-service
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
