[Unit]
Description=csye6225 application
After=network.target postgresql.service  # Ensures PostgreSQL starts first

[Service]
User=csye6225
Group=csye6225
WorkingDirectory=/opt/webapp
ExecStart=/usr/bin/node /opt/webapp/index.js
Restart=always  # Ensures service restarts even if it stops unexpectedly
RestartSec=5    # Wait 5 seconds before restarting
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webapp-service
Environment=NODE_ENV=production
Environment=PORT=3000
Environment=POSTGRES_DB=webapp
Environment=POSTGRES_USER=csye6225
Environment=POSTGRES_PASSWORD=Root
Environment=POSTGRES_HOST=localhost

[Install]
WantedBy=multi-user.target
